---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { SITE } from '../config';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

	
	</head>

	<body>
		<Hero />
        <div class="relative px-4 pt-16 pb-20 bg-transparent sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
      
            <div class="relative mx-auto max-w-7xl">
              <div class="text-center">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{title}</h2>
                <p class="max-w-2xl mx-auto mt-3 text-xl text-gray-500 sm:mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.</p>
              </div>
              <div class="grid max-w-lg gap-5 mx-auto mt-12 lg:max-w-none lg:grid-cols-3">
               
          
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				
          
           
              </div>
            </div>
          </div>
          
	</body>
</html>
