---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="prose">
	<header>
		<p class="publish-date">{post.frontmatter.publishDate}</p>
		<a href={post.url}><h1 class="title">{post.frontmatter.title}</h1></a>
	</header>
	<h2>{post.frontmatter.description}</h2>
	<a href={post.url}>Read more</a>
</article>
