---
import BaseHead from "../components/BaseHead.astro";
import BlogPost from "../components/BlogPost.astro";
import "@fontsource/chivo";
import "@fontsource/open-sans";

const { content } = Astro.props;
const {
  title,
  description,
  publishDate,
  author,
  authorURL,
  heroImage,
  permalink,
  alt,
} = content;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <BlogPost {title} {author} {authorURL} {heroImage} {publishDate} {alt}>
      <slot />
    </BlogPost>
  </body>
</html>
